<div id="home" class="header">
    <div class="header-bottom">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1>小于的<span>blog</span></h1></a>
            </div>
            <span class="menu"></span>
            <div class="top-menu">
                <ul>
                    <nav>
                        <li><a class="active" href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="404.html">SERVICES</a></li>
                        <li><a href="portfolio.html">PORTFOLIO</a></li>
                        <li><a href="#blog" class="scroll">BLOG</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </nav>
                </ul>
            </div>
            <!-- script for menu -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><ul id="flexiselDemo3" class="nbs-flexisel-ul" style="left: -313.333px; display: block;">
            <li class="nbs-flexisel-item" style="width: 313.333px;">
                <div class="biseller-column">
                    <a class="lightbox" href="#goofy">
                        <img src="{{ asset('bundles/app/images/s1.jpg') }}">
                    </a>
                    <div class="lightbox-target" id="goofy">
                        <img src="{{ asset('bundles/app/images/s1.jpg') }}">
                        <a class="lightbox-close" href="#"> </a>

                        <div class="clearfix"> </div>
                    </div>
                </div>
            </li>
            <li class="nbs-flexisel-item" style="width: 313.333px;">
                <div class="biseller-column">
                    <a class="lightbox" href="#goofy">
                        <img src="{{ asset('bundles/app/images/s4.jpg') }}">
                    </a>
                    <div class="lightbox-target" id="goofy">
                        <img src="images/s4.jpg">
                        <a class="lightbox-close" href="#"> </a>

                        <div class="clearfix"> </div>
                    </div>
                </div>
            </li>
            <li class="nbs-flexisel-item" style="width: 313.333px;">
                <div class="biseller-column">
                    <a class="lightbox" href="#goofy">
                        <img src="{{ asset('bundles/app/images/s1.jpg') }}">
                    </a>
                    <div class="lightbox-target" id="goofy">
                        <img src="{{ asset('bundles/app/images/s1.jpg') }}">
                        <a class="lightbox-close" href="#"> </a>

                        <div class="clearfix"> </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="nbs-flexisel-nav-left" style="top: 255px;"></div><div class="nbs-flexisel-nav-right" style="top: 255px;"></div></div></div>
    </div>
</div>